@{
    Page.Title = Resources.labels.dashboard;
    Layout = "_Layout.cshtml";
}

<div class="content-box-outer">
    <div class="content-widgets-box-full">
        <div>
            content here
        </div>
        <div class="clear"></div>
    </div>
</div>